<!DOCTYPE html>
<html>
  <head>
    <title>Cable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Site", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
          <% if user_signed_in? %>  
            <li><%= link_to "Log out",  destroy_user_session_path, :method => :delete %></li>
          <% end %>
          <% if !user_signed_in? %>  
            <li><%= link_to "Admin",  new_user_session_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%=                      message %></div>
        <% end %>
      <%= yield %>
      <footer class="footer">
  <small>
    <a href="http://intellectit.by/">Intellect IT</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
       <!-- <%= debug(params) if Rails.env.development? %> -->
    </div>
  </body>
</html>
